$tableWidth:    400px;
$blackBorder: black;
$popupBrdrClr: #1a1313;

.simpleButton{
    width: 150px; 
    height: 24px;
}

.block{
    display: inline-block;
    width: 49%;

    > div{
        padding: 20px;
        border: 1px solid black;
        border-radius: 4px;
    }
}

#userForm div{
    margin-bottom: 10px;
}

$tableBorderClr: #1A1F25;

#usersTable{
    border: 1px solid $tableBorderClr;
    margin: 20px;  
    width: $tableWidth;
    border-radius: 5px;

    > tr{
         > td{
        padding-left: 5px;
        }

        td{
        border-top: 1px solid $tableBorderClr;
        }
    }

    thead {
        background: $tableBorderClr;
        color: #E6EBF1;
        font-size: 20px;
    }

    thead td:first-child,  > tr > td:first-child{
        border-right: 1px solid $tableBorderClr;
        height: 40px;
        width: 200px;
    }

    thead td {
        padding-left: 10px;
    }

    td {
        width: 200px;
    }

    table tr:first-child td{
        border-top: none;
    }

    tr.isConst{
        background: #CF0000;
    }

    table td.isNotAproved{
        background: gray
    }

    button{
        float: right;
        margin-right: 3px;
    }
}

#usersBlock,#reviewForm{
    margin: 20px;
    display: table;
}

#reviewForm div{
    margin-bottom: 10px;
}

#usersSelect{
    width: 150px;
}

#popupsBlock{
    position: absolute;
    right: 10px;
    top: 30%;
    > div{
        margin-bottom: 10px;
    }
}

.popup{
    display: none;  
    position: relative;
    z-index: 3;
    right: -400px;
    width: 400px;
    border-radius: 5px;
    background: $popupBrdrClr;
    color: mintcream;
    border: 1px solid $popupBrdrClr;

    .popupBody{
        width: 100%;
        height: 60px;
        text-align: center;
        box-sizing: border-box;
        padding-top: 20px;
    }
}